
*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
footer{
  background-color: rgb(15, 15, 15);
  height: 200px;
}
footer .info{
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
footer .info>p{
  flex: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  
}
footer section{
  display: flex;
  justify-content: center;
  background-color: gray;

}
.body{
  position: relative;
  margin-top: 200px;
  width: 50%;
  margin: 0 auto;
}

.sub{
  width:30%;
  margin: 0 auto;
  position: relative;

}
.sub p{
  width: 50%;
}

.flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.flex > section{
  width:100%;
  height: 500px;
  margin: 10px;
  border: 1px solid gray;

}
.overview{
  width: 100%;
}
label {
  margin-bottom: 0.5rem;
}


/* Navbar */
.top-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  background-color: #141416;
  text-align: center;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  color: white;
  filter: drop-shadow(10px 10px 5px #000);


}
nav {
  text-align: center;
  height: 200px;
  width: 50%;
  z-index: 3;
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
nav ul li,
h1 {
  line-height: 200px;
  vertical-align: middle;
  text-align: center;
  margin: 0;
}
.top-container h1{
  position: relative;
  left: 40px;
}
nav ul li a {
  text-decoration: none;
  border-bottom: none;
  font-size: 20px;
  color: white;
  
}


a:hover {
  cursor: pointer;
  text-decoration:underline;
}
.navbar{
  position: fixed;
  background-color: #0071c2;
  width: 100%;
  top:0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  color: black;
  position: relative;
}

.navbar h1, .navbar nav ul li{
  color: white;
  height: 100px;
  display: flex;
  align-items: center;

}

/* HOME PAGE */
.selectors{
  display: flex;
  margin: 0 auto;
  width:50%;
  margin-bottom: 50px;
  margin-top: 100px;
  border: 5px solid #febb02;
  height: 50px;
  color:black;
  border-radius: 10px;
}
.province-selector select{
  width: 300px;
  font-size: 15px;
  position: relative;
  top: 50%;
}
.datepicker input{
  width: 300px;
}
.search{
  position: relative;
  height: 25px;
  top: 20px;
  background-color: white;
  cursor: pointer;
}
.search .fa-solid{
  color: #0071c2;
}
.hotels{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.hotels > div{
  flex:33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.hotels > div img{
  width: 100%;
  margin: 0 auto;
  max-width: 200px;
}
.hotels > div button{
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}
section.about{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
section.about > div{
  flex:33%;
  margin: 10px 50px 50px 0px;
}
.main-image {
  position: relative;
  background-image: linear-gradient(to right, black,white,black);
}
.vignette{
  width: 50%;
  margin: 0 auto;
}
.vignette:after {
  -moz-box-shadow: inset 0 0 10em black;  
  -webkit-box-shadow: inset 0 0 10em black;   
  box-shadow: inset 0 0 10em black;
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 2;
  content: "";
  margin: 0 auto;
 }
.main-image .carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

/* MoreDetails Page */

.per-detail{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  width: 100%;
  height:300px;
  text-align:center ;
  align-items: center;
  border: 1px solid gray;
  background-color: red;
}
.per-detail .carousel{
  max-width: 200px;
  object-fit: contain;
  display: flex;
  justify-content: center;
}
.per-detail img{
  object-fit: contain;
  display: flex;
  justify-content: center;
  max-height: 300px;
}

/* Reservation */
form{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
form > input, form>label, form>button, button{
  width: 200px;
  margin: 2px auto;
  font-size: 20px;
  border-radius: 20px;

}
form>Link, button.cancel{
  position: relative;
  float: right;
  width: 200px;
  margin: 2px auto;
  font-size: 20px;
  border-radius: 20px;
}